.card {
  background: rgba(255, 255, 255, 0.582);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.589);
  @apply rounded-md hover:-translate-y-2 hover:scale-105 transition-all duration-300 flex-col w-72 min-h-96;
}

/* ------------------------------------------------- */
/* card with back */
.img-section {
  @apply relative text-white;
}
.img-section .img-description .heading-container {
  @apply absolute uppercase text-2xl text-right bg-inherit px-2 py-1;
}
.common-card-setting {
  backface-visibility: hidden;
  transition: all 0.7s;
  @apply h-[34rem] rounded-lg;
}

.card-with-back {
  @apply w-80 relative common-card-setting my-1 shadow-2xl flex-col;
  perspective: 100rem;
}

.card-front {
  @apply w-full absolute  bg-white common-card-setting overflow-hidden;
}
.card-with-back:hover .card-front {
  transform: rotateY(-180deg);
}

.card-back {
  transform: rotateY(-180deg);
  @apply w-full absolute common-card-setting;
}
.card-with-back:hover .card-back {
  transform: rotateY(0);
}

/* card-with-back-img  */
.card-with-back-img {
  @apply bg-cover h-52 bg-blend-screen;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

@media (max-width: 760px) {
  .card-front,
  .card-back {
    position: relative;
    @apply h-fit;
  }
  .card-back {
    @apply h-[17rem] rounded-t-none;
    /* background-clip:  */
    clip-path: polygon(0 28px, 100% 0, 100% 100%, 0 100%);
  }
  .card-with-back {
    @apply h-fit;
  }
  .card-with-back:hover .card-front {
    transform: rotateY(0);
  }

  .card-back {
    transform: rotateY(0);
  }
  .card-with-back:hover .card-back {
    transform: rotateY(0);
  }
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* Stories Card */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
.stories-card {
  @apply mx-6 max-sm:mx-3  sm:w-3/4 p-10 max-w-4xl;
  transform: skewX(-12deg);
}

.stories-card-inner {
  transform: skewX(12deg);
}
@media (max-width: 700px) {
  .stories-card {
    @apply px-8 py-14 rounded;
    transform: skewX(0);
  }

  .stories-card-inner {
    transform: skewX(0);
  }
}

.stories-shape {
  @apply w-40 h-40 float-left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.img-caption {
  @apply absolute top-1/2 left-1/2 text-2xl text-center font-bold text-white uppercase opacity-0;
  transform: translate(-50%, 20%);
}

.stories-card:hover .img-caption {
  @apply opacity-100;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}

.stories-card img {
  transition: all 0.6s;
  transform: scale(140%);
}
.stories-card:hover img {
  transform: scale(100%);
  filter: blur(2px) brightness(80%);
}
