.card {
  background: rgba(255, 255, 255, 0.582);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.589);
  @apply rounded-sm hover:-translate-y-2 hover:scale-105 transition-all duration-300;
}

/* ------------------------------------------------- */
/* card with back */
.img-section {
  @apply relative text-white;
}
.img-section .img-description .heading-container {
  @apply absolute uppercase text-2xl text-right bg-inherit px-2 py-1;
}
.common-card-setting {
  backface-visibility: hidden;
  transition: all 0.7s;
  @apply h-[34rem] rounded-lg;
}

.card-with-back {
  @apply w-80 relative common-card-setting;
  perspective: 100rem;
}

.card-front {
  @apply w-full absolute  bg-white common-card-setting overflow-hidden;
}
.card-with-back:hover .card-front {
  transform: rotateY(-180deg);
}

.card-back {
  transform: rotateY(-180deg);
  @apply w-full absolute common-card-setting;
}
.card-with-back:hover .card-back {
  transform: rotateY(0);
}

/* card-with-back-img  */
.card-with-back-img {
  @apply bg-cover h-52 bg-blend-screen;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

/* --------------------------------------------------------------------- */
/* Stories Card */
/* --------------------------------------------------------------------- */
.stories-card {
  @apply w-3/4 p-10;
}

.stories-shape {
  @apply w-40 h-40 float-left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
