.section-feature {
  @apply flex p-20 justify-center items-center -mt-40;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(/assets/header-bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.cards-container {
  @apply flex gap-8 my-32 mb-64 justify-center items-center flex-wrap;
}
