.heading-primary {
  @apply text-7xl w-full text-center uppercase text-white;
  letter-spacing: 3.5rem;
}
.heading-subprimary {
  @apply font-bold text-2xl w-full text-center uppercase text-white;
  letter-spacing: 1.6rem;
}

.heading-secondary {
  @apply font-bold bg-gradient-to-r from-green-400 to-green-700 bg-clip-text text-transparent hover:skew-y-3 hover:skew-x-12;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

@media (max-width: 1050px) {
  .heading-primary {
    letter-spacing: 1.5rem;
    font-size: 4.3rem;
  }
  .heading-subprimary {
    letter-spacing: 0.9rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 775px) {
  .heading-primary {
    @apply tracking-widest;
  }
  .heading-subprimary {
    letter-spacing: 0.5rem;
  }
}
@media (max-width: 642px) {
  .heading-primary {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
  .heading-subprimary {
    letter-spacing: 0.3rem;
    font-size: 0.97rem;
  }
}
