.btn {
  @apply inline-block relative px-16 py-5 rounded-full text-center hover:-translate-y-1 active:-translate-y-[-0.1rem] uppercase transition-all;
}
.btn:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.btn::after {
  content: "";
  @apply inline-block w-full h-full  absolute top-0 left-0 -z-10 rounded-full hover:scale-x-[1.4] hover:scale-y-[1.6] transition-all duration-[400ms] hover:opacity-0;
}

.btn-white {
  @apply bg-white text-amber-950;
}

.btn-animated {
  animation: moveToUp 1s ease-out 0.7s;
  animation-fill-mode: backwards;
}

@keyframes moveToUp {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
  }
}

/* btn- simple */

.btn-simple {
  @apply inline-block text-green-600 border-b-2 border-green-600 w-fit hover:bg-green-600 hover:text-white py-1 px-2 hover:px-3 hover:shadow-md hover:-translate-y-1;
  transition: all 0.3s;
  /* transform: translateY(-2px); */
}
