@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @apply w-full box-border md:p-6;
}

.flex-center {
  @apply flex justify-center items-center;
}

.shadow-big {
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
}

.form-input {
  @apply max-sm:px-2 px-8 py-2 rounded-sm bg-white/50 focus:outline-none border-b-2 focus:border-green-500 focus:invalid:border-orange-600 focus:shadow-xl;
}
.form-label {
  @apply font-bold capitalize;
}
