.book {
  background: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.89) 50%,
      transparent 50%
    ),
    url("/assets/header-bg.jpg");
  background-size: cover;
}

.form .form-input {
  @apply mt-4 w-10/12 block;
}
.form .form-label {
  @apply text-sm;
  transition: all 0.3s;
}
.label-prop {
  @apply ml-8 block mt-1;
}
.form .form-input:placeholder-shown + .form-label {
  @apply opacity-0 invisible -translate-y-10;
  /* opacity-0 invisible ; */
}
.size-radio {
  @apply inline-block w-6 h-6 border-4 border-green-600 rounded-full;
}
