.nav-container {
  @apply fixed right-20 z-50;
}
.nav-bg-circular {
  background-image: radial-gradient(rgb(17, 221, 102), rgb(8, 121, 55));
  @apply w-14 h-14 rounded-full fixed top-12 right-9 md:right-14 z-40;
  transition: all 0.4s;
}

.nav-button {
  @apply w-[3.75rem] h-[3.75rem] rounded-full bg-slate-50 fixed top-[2.9rem] right-[2.1rem] md:right-14 z-[500] cursor-pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 500px) {
  .nav-bg-circular {
    @apply right-[18px] top-5;
  }
  .nav-button {
    @apply right-4 top-4;
  }
}
input#nav-input {
  display: none;
}

.nav-expand {
  @apply w-0 h-screen fixed top-0 right-0 z-[60] text-center text-3xl font-light text-white uppercase overflow-hidden;
  transition: all 0.3s;
}
input#nav-input:checked ~ .nav-bg-circular {
  transform: scale(80);
}
input#nav-input:checked ~ .nav-expand {
  @apply w-full opacity-100;
}

/* for icon */
/* .nav-icon {
  @apply text-2xl;
}
.nav-icon-close,
.nav-icon-menu {
  display: none;
}
input#nav-input:checked ~ .nav-icon .nav-icon-menu {
  display: inline-block;
}
input#nav-input:checked ~ .nav-icon .nav-icon-close {
  display: inline-block;
} */
/* for nav icon end */

.nav-expand ol {
  @apply space-y-8;
}
.nav-expand ol li.nav-item {
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 212%;
  @apply py-3 px-4 font-medium;
  transition: all 0.4s;
}

.nav-expand ol li:hover {
  background-position: 100%;
  @apply text-green-600 translate-x-3;
}
