.img-big-effect {
  @apply hover:scale-110 hover:border-8 hover:p-5 border-green-600 hover:z-10 box-content bg-cover absolute;
  transition: all 0.2s;
  box-shadow: 0px 5px 20px black;
}

.img-big-effect:hover {
  box-shadow: 0px 5px 20px black;
  background-color: rgba(255, 255, 255, 0.6);
}

.image-composition-container:hover .img-big-effect:not(:hover) {
  @apply scale-95;
}

.mobile-image{
  @apply max-sm:w-48 max-sm:h-32;
}
